<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/fonts/font_awesome/all.min.css" type="text/css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.80.1/phaser.min.js"></script>
    
</head>
<body class='{{if .User.Config.lightTheme}}theme-light {{end}}{{block "body_class" .}}{{end}}'
    hx-headers='{"X-CSRFToken": "{{ .CsrfToken }}"}'>
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
          }
        }
      </script>


    <div id="game"></div>
    <script type="module" src="/static/js/main.js"></script>
</body>

</html>