{{if .Entity -}}
<div id="{{.Channel}}-{{.Entity}}"
    {{- if eq .Op 2 }} hx-swap-oob="delete"
    {{- else if not (eq .Op 1) }} hx-swap-oob="true"{{end}}>
    {{- if and (eq .Op 1) (.Value.message) -}}
    <div id="{{.Channel}}-{{.Entity}}-message">
        {{- .Value.message -}}
    </div>
    {{- else if eq .Key "message" -}}
    <div id="{{.Channel}}-{{.Entity}}-message"
    {{- if eq .Op 5 }} hx-swap-oob="delete"
    {{- else }} hx-swap-oob="true"{{end}}>
        {{- .Value -}}
    </div>
    {{- end -}}
</div>
{{- end}}